<ion-view title="List Page" id="page2" class=" ">
    <ion-content padding="true" class="has-header">

    	<ion-refresher
		    pulling-text="Pull to refresh..."
		    on-refresh="doRefresh()">
  		</ion-refresher>

        <ion-list id="listPage-list1" class=" ">
            <ion-item class="item-icon-left  " id="listPage-list-item4" ui-sref="tabsController.detailsPage">
                <i class="icon ion-thumbsup"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="listPage-list-item5" ui-sref="tabsController.detailsPage">
                <i class="icon ion-thumbsdown"></i>Item</ion-item>
        </ion-list>

        <ion-list ng-repeat="loc in locations">

        	<ion-item ng-show="loc.yayNay == 'yay'">
        		<b>Name:</b>{{loc.name}}; <b>Lat:</b> {{loc.latLng}}; <b>Lon:</b> {{loc.longitude}}
        	</ion-item>

        	<ion-item ng-show="loc.yayNay == 'nay'">
        		<b>Name:</b>{{loc.name}}; <b>Lat:</b> {{loc.latLng}}; <b>Lon:</b> {{loc.longitude}}
        	</ion-item>

    	</ion-list>

    	<input ng-model="entry.name"/>
		<input ng-model="entry.latitude"/>
		<input ng-model="entry.longitude"/>
		<input ng-model="entry.yayNay"/>


		<button ng-click="writeData()">Write Data</button>
		<p>Entry Number: {{entryNum}}</p>


    </ion-content>
</ion-view>