<ion-view title="List" id="page2" class=" ">
    <ion-content padding="true" class="has-header">

    	<ion-refresher
		    pulling-text="Pull to refresh..."
		    on-refresh="doRefresh()">
  		</ion-refresher>

        <img id="cccImg" src="img/ccc.png" alt="HeaderImage">
        <input id="filterBox" type="text" name="filterBox" ng-keyup="filterList();" placeholder="Filter by Name"/>

<!--         <ion-list ng-repeat="loc in rootLoc">
        	<ion-item class="mainListItem" ng-click="sendData(loc)" href="#/page1/details">
        		<b>{{loc.name}}</b>: ({{loc.latitude}}, {{loc.longitude}})
        	</ion-item>
    	</ion-list>
 -->
        <ul ng-repeat="loc in rootLoc" class="mainList">
            <a class="listAnchor" href="#/page1/details" ng-show="showFilter(loc.name);">
            <li ng-click="sendData(loc)">
                <b>{{loc.name}}</b> <br>({{loc.latitude}}, {{loc.longitude}})
            </li>
            </a>
        </ul>

    


    </ion-content>
</ion-view>